body {
    background-image: url(../images/full-bloom.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 60px;
}

.nav, li a, .navbar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777777;
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 10%; 
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px; 
    line-height: 45px; 
  }
  
  
.copyright {
    font-family: 'Times New Roman', Times, serif;
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    border-top: #4AAAA5 5px solid;
    font-size: 10px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.textbox {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #dddddd;
    line-height: 1.5;
    color: #777777;
}

h2 {
    color: #4AAAA5;
    border-bottom: #dddddd solid 3px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 15px 15px 0px;
}

.img-thumbnail {
    height: 250px;
    width: 300px;
}